body {
  margin: 1rem;
}

.form-label {
  font-size: 20px;
}

@media screen and (min-width: 600px){
  section {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px){
  section {
    width: 100%;
  }
}