nav {
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0.5rem;
}
nav img {
    float: left;
    height: 50px;
    border: solid 1px white;
}
nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}
#currently-playing-card {
    animation: changeBackgroundColor 3s linear infinite;
    padding: 2px;
}
.card {
    margin-top: 1rem;
}
.card-img-top {
    height: 200px;
}
.card-title {
    font-weight: bold;
}
@keyframes changeBackgroundColor {
    0% {
      background-color: #e74c3c; /* Start with a red color */
    }
    25% {
      background-color: #f1c40f; /* Transition to a yellow color */
    }
    50% {
      background-color: #2ecc71; /* Transition to a green color */
    }
    75% {
      background-color: #3498db; /* Transition to a blue color */
    }
    100% {
      background-color: #e74c3c; /* Return to the red color */
    }
}

@media screen and (max-width: 600px) {
    .col-sm-12 {
        text-align: center;
    }
    .card {
        width: 80%;
        display: block;
        margin: 1rem auto;
    }
}