nav {
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0.5rem;
}
nav img {
    float: left;
    height: 50px;
    border: solid 1px white;
}
nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}
#currently-playing-card {
    animation: changeBackgroundColor 3s linear infinite;
}
.card {
    margin-top: 1rem;
    padding: 2px;
}
.card:not(#currently-playing-card) {
    background-color: lightgrey;
}
.card-img-top {
    height: 200px;
}
.card-title {
    font-weight: bold;
}
.card-body {
    padding: 5px;
}
@keyframes changeBackgroundColor {
    0% {
      background-color: #e74c3c; /* Start with a red color */
    }
    25% {
      background-color: #f1c40f; /* Transition to a yellow color */
    }
    50% {
      background-color: #2ecc71; /* Transition to a green color */
    }
    75% {
      background-color: #3498db; /* Transition to a blue color */
    }
    100% {
      background-color: #e74c3c; /* Return to the red color */
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 80%;
        display: block;
        margin: 1rem auto;
    }
    #track-details {
        width: 80%;
    }
    #track-details img {
        display: block;
        margin: 0.5rem auto;
    }
}

#track-details {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px #282828;
}
#track-album-img {
    border-radius: 8px;
    width: 150px;
    height: 150px;
}
#track-info {
    display: inline-block;
}