* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
/* Body background similar to Spotify */
body {
  background-color: #181818;
  font-family: Arial, sans-serif;
  color: white;
}
a {
  text-decoration: none;
}
/* Container */
.box-center {
  background-color: #282828;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
}
.box-center > * {
  margin: 1rem;
}
/* Logo */
.box-center img {
  display: block;
  margin: 1rem auto;
}
/* Spotify-like button */
.spotify-button {
  background-color: #1db954;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
/* Spotify-like button hover */
.spotify-button:hover {
  background-color: #1ed760;
}
/* Text */
.box-center p {
  text-indent: 1rem;
  text-align: justify;
}
/* Desktop */
@media screen and (min-width: 600px){
  .box-center {
    width: 50%;
  }
}
/* Cellphone */
@media screen and (max-width: 600px){
  .box-center {
    width: 100%;
  }
}
footer {
  background-color: black;
}